//mobile
// .Header {
//   background-color: #323232;
//   height: 5rem;
//   // border: 2px solid white;
// }
.Header {
  background-color: $color-black;
  &__title--container {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem 0rem 0rem;
    // border: 2px solid white;

    &__title {
      //text size supposed to be 24px and line height 32px
      //but those specifications did not produce an outcome that fit the mockup
      color: white;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
  &__nav {
    display: flex;
    height: 3rem;
    &--link {
      text-decoration: none;
      color: white;
      // color: black;
      font-family: "avenir-regular";
      font-size: 1rem;
    }
    &--link-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      flex: 0.5;
      &:active {
        border-bottom: 5px solid white;
      }
    }
  }
  // &__nav--link-container-bio {
  //   border-bottom: 5px solid white;
  // }
}
//tablet
@include medium {
  // .Header__container {
  //     // flex-wrap: wrap;
  //     // border: 2px solid white;
  // }
  .Header {
    display: flex;
    align-items: center;
    font-size: 2.25rem;
    line-height: 2.75rem;
    // border: 2px solid white;
    &__title--container {
      // border: 2px solid white;
      margin: 0.5rem 3.5rem 0rem 1.5rem;
      //  &__title {
      // border: 2px solid white;
      // }
    }
    &__nav {
      // border: 2px solid white;
      // &--link {
      // }
      &--link-container {
        // border: 2px solid white;
        margin: 0rem 3.5rem 0rem 0rem;
        padding: 2.25rem 0rem 2rem 0rem;
      }
      &--link-container-bio {
        border-bottom: 5px solid white;
      }
    }
  }
}

//desktop
@include large {
  .Header {
    display: flex;
    // border: 2px solid white;
    &__title--container {
      display: flex;
      // border: 2px solid white;
      margin: 1rem 3.5rem 0rem 11.25rem;
      //  &__title {
      // border: 2px solid white;
      // }
    }
    &__nav {
      // border: 2px solid white;
      // &--link {
      // }
      &--link-container {
        display: flex;
        // border: 2px solid white;
        width: 5rem;
        margin: 0rem 3.5rem 0rem 0rem;
        padding: 2.2rem 0rem 2.4rem 0rem;
      }
      &--link-container-bio {
        border-bottom: 5px solid white;
      }
    }
  }
}
