/*MOBILE*/
label {
  @include mobile-para;
  color: $color-silver;
  font-weight: bold;
}
.new {
  min-width: 15.75rem;
  background-color: $color-white;
  padding: 2rem 1rem 0;
  &__title {
    @include mobile-header;
    padding-bottom: 2rem;
  }
  &__form {
    &-input {
      width: 100%;
      height: 3rem;
      background-color: $color-alabaster;
      border-radius: 0.25rem;
      border: 1.5px solid $color-mercury;
      padding: 0.625rem;
      @include mobile-para;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      resize: none;
    }
    &-description {
      width: 100%;
      height: 80px;
      background-color: $color-alabaster;
      border-radius: 0.25rem;
      border: 1.5px solid $color-mercury;
      padding: 0.625rem;
      padding-bottom: 3rem;
      @include mobile-para;
      margin-bottom: 2rem;
      resize: none;
    }
    &-input:focus,
    &-description:focus {
      border: 1.5px solid $color-instockblue;
      outline-width: 0;
    }
    &-switch {
      &-flex {
        display: flex;
        justify-content: space-between;
        margin: 1.5rem 0;
        align-items: center;
      }
      &-stock {
        color: $color-black;
      }
    }
  }
}
.button {
  &__save,
  &__cancel {
    @include mobile-sub;
    height: 48px;
    width: 100%;
    background-color: $color-instockblue;
    color: $color-white;
    border: none;
    border-radius: 0.25rem;
  }
  &__cancel {
    background-color: $color-white;
    color: $color-instockblue;
  }
  &__save:focus,
  &__cancel:focus {
    outline-width: 0;
  }
}

/*TABLET/DESK VIEW */
@include medium {
  .new {
    max-width: 36rem;
    height: 39rem;
    padding: 3.5rem 3rem 2.5rem;
    &__title {
      @include h1-header;
      padding-bottom: 3rem;
    }
    &__form {
      display: flex;
      flex-wrap: wrap;
      &-flex {
        display: flex;
        flex-direction: column;
      }
      &-input {
        width: 13.75rem;
      }
      &-description {
        width: 30rem;
      }
    }
  }
  .button {
    &__container {
      display: flex;
      flex-direction: row-reverse;
      margin-left: auto;
    }
    &__save {
      width: 10rem;
    }
    &__cancel {
      width: 3.75rem;
      margin-right: 3rem;
    }
  }
  .margin {
    margin-left: 2.5rem;
    width: 220px;
  }
}
