.product {
  width: 100%;
  margin: 40px 16px 24px 16px;

  &__container {
    width: 288px;
    margin: auto;
  }

  &__label-page {
    font-family: "avenir-bold";
    margin-bottom: 24px;
  }

  &__instock-notifier {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: limegreen;
    border-radius: 5px;
  }

  &__instock-notifier-text {
    color: $color-white;
    font-family: "avenir-demi";
  }

  &__label-description {
    font-family: "avenir-demi";
    color: $color-silver;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  &__item-description {
    width: 90%;
  }

  &__label-ordered-by {
    @extend .product__label-description;
  }

  &__label-ref-num {
    @extend .product__label-description;
  }

  &__label-last-ordered {
    @extend .product__label-description;
  }

  &__label-location {
    @extend .product__label-description;
  }

  &__label-quantity {
    @extend .product__label-description;
  }

  &__label-categories {
    @extend .product__label-description;
  }

  &__categories {
    @extend .product__item-description;
    margin-bottom: 40px;
  }

  &__edit-btn {
    width: 288px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid $color-instockblue-dark;
    background-color: $color-instockblue-dark;
    color: $color-white;
    font-family: "avenir-demi";
  }
}
