* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: unset;
  font-family: "avenir-regular";
}

/* media query for mobile 320*/
/* media query for tablet*/
/* media query for high pixel density desktops*/
@font-face {
  font-family: "avenir-regular";
  src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "avenir-demi";
  src: url(../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: "avenir-bold";
  src: url(../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf);
}

/*Mobile font*/
/*Desktop/tablet font*/
/*background image*/
/*MOBILE*/
label {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  color: #AFAFAF;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.5rem;
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
}

.inventory {
  background-color: #FFFFFF;
  padding: 2rem 1rem 0;
}

.inventory__tablet {
  display: none;
}

.inventory__shrink {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.inventory__add {
  background-color: #004892;
  width: 3.75rem;
  height: 3.75rem;
  border: none;
  border-radius: 2rem;
  position: -webkit-sticky;
  position: sticky;
  bottom: 10vh;
  left: 70vw;
}

.inventory__add-icon {
  width: 1.25rem;
  margin-top: 0.25rem;
}

.inventory__add:focus {
  outline: none;
}

.inventory__add:hover {
  background-color: #0065AD;
}

.inventory__title {
  font-family: "avenir-bold";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #323232;
  padding-bottom: 1rem;
}

.inventory__search {
  background-color: #FAFAFA;
  width: 15.75rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  border: 1px solid #E1E1E1;
  margin-bottom: 0.5rem;
}

.inventory__search-image {
  height: 1.125rem;
  width: 1.125rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.inventory__search-bar {
  background-color: #FAFAFA;
  resize: none;
  width: inherit;
  height: 2.875rem;
  margin-right: 0.3125rem;
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #323232;
  font-family: "avenir-regular";
  border: none;
}

.inventory__search-bar:focus {
  outline-width: 0;
}

.inventory__product {
  text-decoration: none;
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #323232;
  padding-bottom: 1rem;
}

.inventory__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1.5px solid #E1E1E1;
}

.inventory__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inventory__product-margin, .inventory__options {
  margin-top: 1.5rem;
}

.inventory__options {
  padding-right: 0.25rem;
  height: 0;
}

/*TABLET SIZING*/
@media only screen and (min-width: 768px) {
  p,
  label {
    margin: unset;
  }
  .inventory {
    padding: 3rem 1.5rem;
  }
  .inventory__add {
    left: 88vw;
    height: 5rem;
    width: 5rem;
    border-radius: 4rem;
  }
  .inventory__add-icon {
    width: 1.5rem;
  }
  .inventory__mobile {
    display: none;
  }
  .inventory__search {
    margin: unset;
  }
  .inventory__product {
    padding-bottom: unset;
  }
  .inventory__container {
    height: 6.25rem;
    padding: 1.5rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inventory__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0.5rem;
  }
  .inventory__tablet-right {
    width: 8rem;
  }
  .inventory__tablet-item {
    width: 12.1875rem;
  }
  .inventory__tablet-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 12.1875rem;
  }
  .inventory__tablet-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inventory__flex {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .inventory__top-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 3rem;
  }
  .inventory__title {
    font-family: "avenir-bold";
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #323232;
    padding-bottom: unset;
  }
  .inventory__options {
    padding-bottom: 2.75rem;
  }
  .kebab {
    width: 7.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .inventory {
    padding: 2.5rem 11.25rem;
  }
  .inventory__title {
    padding-top: 0.5rem;
  }
  .inventory__container {
    height: 5rem;
  }
  .inventory__shrink {
    -webkit-line-clamp: 1;
  }
  .inventory__tablet-product {
    width: 17.75rem;
  }
  .inventory__tablet-right {
    width: 10.5625rem;
  }
  .kebab {
    width: 10.0625rem;
  }
}

.Header {
  background-color: #323232;
}

.Header__title--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 0rem 0rem 0rem;
}

.Header__title--container__title {
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
}

.Header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
}

.Header__nav--link {
  text-decoration: none;
  color: white;
  font-family: "avenir-regular";
  font-size: 1rem;
}

.Header__nav--link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

@media only screen and (min-width: 768px) {
  .Header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .Header__title--container {
    margin: 0.5rem 3.5rem 0rem 1.5rem;
  }
  .Header__nav--link-container {
    margin: 0rem 3.5rem 0rem 0rem;
    padding: 2.25rem 0rem 2rem 0rem;
  }
}

@media only screen and (min-width: 1440px) {
  .Header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Header__title--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 3.5rem 0rem 11.25rem;
  }
  .Header__nav--link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 5rem;
    margin: 0rem 3.5rem 0rem 0rem;
    padding: 2.2rem 0rem 2.4rem 0rem;
  }
}

.locations {
  font-family: "avenir-regular";
  padding: 0rem 1rem;
}

.locations__top-wrap-itemTitlesWrap {
  display: none;
}

.locations__top-wrap-titleSearchWrap-title {
  font-family: "avenir-bold";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #323232;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.locations__top-wrap-titleSearchWrap-itemTitlesWrap-title {
  display: none;
}

.locations__top-wrap-titleSearchWrap-searchForm {
  width: 100%;
}

.locations__top-wrap-titleSearchWrap-searchForm-searchWrap {
  width: 100%;
  position: relative;
  margin-bottom: 0.5rem;
  padding-right: 15%;
}

.locations__top-wrap-titleSearchWrap-searchForm-searchWrap-searchInput {
  font-size: 1rem;
  text-indent: 2.5rem;
  color: #afafaf;
  background-color: #fafafa;
  border: 2px solid #e1e1e1;
  border-radius: 0.4rem;
  height: 3.03rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.locations__top-wrap-titleSearchWrap-searchForm-searchWrap-searchInput:focus {
  outline: none;
  border-color: #0095FF;
}

.locations__top-wrap-titleSearchWrap-searchForm-searchWrap-img {
  position: absolute;
  bottom: 2.5rem;
  left: 1rem;
}

.locations__item {
  padding-bottom: 1rem;
  border-bottom: 1px solid #AFAFAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.locations__item-left {
  width: 95%;
}

.locations__item-left-wrapManagerContactCategories {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.locations__item-left-wrapManagerContactCategories-manager {
  width: 10rem;
}

.locations__item-left-wrapManagerContactCategories-manager-title {
  display: none;
  color: #AFAFAF;
}

.locations__item-left-wrapManagerContactCategories-manager-job {
  font-style: italic;
}

.locations__item-left-wrapManagerContactCategories-contact {
  width: 10rem;
}

.locations__item-left-wrapManagerContactCategories-contact-title {
  display: none;
  color: #AFAFAF;
}

.locations__item-left-wrapManagerContactCategories-categories-title {
  display: none;
  color: #AFAFAF;
}

.locations__item-left-topWrap-title {
  display: none;
  color: #AFAFAF;
}

.locations__item-left-topWrap-arrowWrap-img {
  display: none;
}

.locations__item-left-wrap {
  margin-bottom: 1rem;
}

.locations__item-left-title {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #323232;
}

.locations__item-left-para {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
}

@media only screen and (min-width: 768px) {
  .locations {
    font-family: "avenir-regular";
    padding: 0rem 1rem;
  }
  .locations__top-wrap {
    width: 100%;
  }
  .locations__top-wrap-itemTitlesWrap {
    display: none;
  }
  .locations__top-wrap-titleSearchWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .locations__top-wrap-titleSearchWrap-title {
    font-family: "avenir-bold";
    font-size: 1.5rem;
    line-height: 2rem;
    color: #323232;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .locations__top-wrap-titleSearchWrap-itemTitlesWrap {
    display: none;
  }
  .locations__top-wrap-titleSearchWrap-searchForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 50%;
    padding-top: 0.75rem;
  }
  .locations__top-wrap-titleSearchWrap-searchForm-searchWrap {
    width: 100%;
    position: relative;
    margin-bottom: 0.5rem;
    padding-right: 0%;
  }
  .locations__top-wrap-titleSearchWrap-searchForm-searchWrap-searchInput {
    font-size: 1rem;
    text-indent: 2.5rem;
    color: #afafaf;
    background-color: #fafafa;
    border: 2px solid #e1e1e1;
    border-radius: 0.4rem;
    height: 3.03rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .locations__top-wrap-titleSearchWrap-searchForm-searchWrap-searchInput:focus {
    outline: none;
    border-color: #0095FF;
  }
  .locations__top-wrap-titleSearchWrap-searchForm-searchWrap-img {
    position: absolute;
    bottom: 2.5rem;
    left: 1rem;
  }
  .locations__item-left-wrapManagerContactCategories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .locations__item-left-wrapManagerContactCategories-manager {
    width: 15rem;
  }
  .locations__item-left-wrapManagerContactCategories-manager-job {
    font-style: italic;
  }
  .locations__item-left-wrapManagerContactCategories-contact {
    width: 15rem;
  }
  .locations__item-left-wrapManagerContactCategories-categories {
    width: 15rem;
  }
  .locations__item-left-topWrap {
    margin-right: 5rem;
  }
  .locations__item-left-arrowWrap-img {
    display: contents;
  }
  .locations__item-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
  }
  .locations__item-para {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
  }
}

@media only screen and (min-width: 1440px) {
  .locations {
    font-family: "avenir-regular";
    padding: 0rem 10rem;
  }
  .locations__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .locations__top-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .locations__top-wrap-titleSearchWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .locations__top-wrap-titleSearchWrap-title {
    font-family: "avenir-bold";
    font-size: 1.5rem;
    line-height: 2rem;
    color: #323232;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .locations__top-wrap-itemTitlesWrap {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    display: contents;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #AFAFAF;
    margin-right: 20rem;
  }
  .locations__top-wrap-searchForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 50%;
    padding-top: 0.75rem;
  }
  .locations__top-wrap-searchForm-searchWrap {
    width: 100%;
    position: relative;
    margin-bottom: 0.5rem;
    padding-right: 0%;
  }
  .locations__top-wrap-searchForm-searchWrap-searchInput {
    font-size: 1rem;
    text-indent: 2.5rem;
    color: #afafaf;
    background-color: #fafafa;
    border: 2px solid #e1e1e1;
    border-radius: 0.4rem;
    height: 3.03rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .locations__top-wrap-searchForm-searchWrap-searchInput:focus {
    outline: none;
    border-color: #0095FF;
  }
  .locations__top-wrap-searchForm-searchWrap-img {
    position: absolute;
    bottom: 2.5rem;
    left: 1rem;
  }
  .locations__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .locations__item-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .locations__item-left-wrapManagerContactCategories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .locations__item-left-wrapManagerContactCategories-manager-title {
    display: content;
  }
  .locations__item-left-wrapManagerContactCategories-manager-job {
    font-style: italic;
  }
  .locations__item-left-wrapManagerContactCategories-contact-title {
    display: content;
  }
  .locations__item-left-wrapManagerContactCategories-categories-title {
    display: content;
  }
  .locations__item-left-topWrap {
    width: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .locations__item-left-topWrap-words {
    display: block;
  }
  .locations__item-left-topWrap-arrowWrap-img {
    display: contents;
  }
  .locations__item-left-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
  }
  .locations__item-left-para {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
  }
}

.LocationsDetails {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
}

.LocationsDetails__warehouse {
  background-color: white;
  width: 100%;
  padding: 0rem 1rem;
  padding-top: 1rem;
}

.LocationsDetails__warehouse-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.LocationsDetails__warehouse-header-arrowWrap {
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.LocationsDetails__warehouse-header-title {
  font-family: "avenir-bold";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #323232;
}

.LocationsDetails__warehouse-addressContactWrap-address {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.LocationsDetails__warehouse-addressContactWrap-address-title {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #323232;
  color: #AFAFAF;
  padding-bottom: 0.5rem;
}

.LocationsDetails__warehouse-addressContactWrap-address-line1 {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
}

.LocationsDetails__warehouse-addressContactWrap-address-line2 {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
}

.LocationsDetails__warehouse-addressContactWrap-address-line3 {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
}

.LocationsDetails__warehouse-addressContactWrap-address-line4 {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  padding-bottom: 0.5rem;
}

.LocationsDetails__warehouse-addressContactWrap-contact {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.LocationsDetails__warehouse-addressContactWrap-contact-title {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #323232;
  color: #AFAFAF;
  padding-bottom: 0.5rem;
}

.LocationsDetails__warehouse-addressContactWrap-contact-line4 {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  padding-bottom: 0.5rem;
}

.LocationsDetails__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 1rem;
  background-color: #FAFAFA;
}

.LocationsDetails__bottom-wrap-top {
  padding-bottom: 0.5rem;
}

.LocationsDetails__bottom-wrap-top-product-title {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #323232;
  color: #AFAFAF;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.LocationsDetails__bottom-wrap-top-product-name {
  font-family: "avenir-bold";
  margin-bottom: 0.5rem;
}

.LocationsDetails__bottom-wrap-top-lastOrdered-title {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #323232;
  color: #AFAFAF;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.LocationsDetails__bottom-wrap-top-lastOrdered-date {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  padding-bottom: 0.5rem;
}

.LocationsDetails__bottom-wrap-top-location-title {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #323232;
  color: #AFAFAF;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.LocationsDetails__bottom-wrap-top-location-cityCountry {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  padding-bottom: 0.5rem;
}

.LocationsDetails__bottom-wrap-top-quantity-title {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #323232;
  color: #AFAFAF;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.LocationsDetails__bottom-wrap-top-quantity-number {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  padding-bottom: 0.5rem;
}

.LocationsDetails__bottom-wrap-top-status-title {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #323232;
  color: #AFAFAF;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.LocationsDetails__bottom-wrap-top-status-inOut {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  padding-bottom: 0.5rem;
}

.LocationsDetails__dotsWrap {
  padding-top: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .LocationsDetails {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
  }
  .LocationsDetails__warehouse {
    width: 100%;
    padding-top: 1rem;
  }
  .LocationsDetails__warehouse-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1rem;
    border-bottom: 2px solid #E1E1E1;
  }
  .LocationsDetails__warehouse-header-arrowWrap {
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  .LocationsDetails__warehouse-header-arrowWrap-img {
    position: relative;
    top: 0.4rem;
    height: 1rem;
  }
  .LocationsDetails__warehouse-header-title {
    font-family: "avenir-bold";
    font-size: 1.5rem;
    line-height: 2rem;
    color: #323232;
  }
  .LocationsDetails__warehouse-addressContactWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2% 0%;
  }
  .LocationsDetails__warehouse-addressContactWrap-address-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    color: #AFAFAF;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__warehouse-addressContactWrap-address-line1 {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
  }
  .LocationsDetails__warehouse-addressContactWrap-address-line2 {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    font-style: italic;
  }
  .LocationsDetails__warehouse-addressContactWrap-address-line3 {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    font-style: italic;
  }
  .LocationsDetails__warehouse-addressContactWrap-address-line4 {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    padding-bottom: 0.5rem;
    font-style: italic;
  }
  .LocationsDetails__warehouse-addressContactWrap-contact-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    color: #AFAFAF;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__warehouse-addressContactWrap-contact-line4 {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0rem 1rem;
    background-color: #FAFAFA;
    border-bottom: 2px solid #E1E1E1;
  }
  .LocationsDetails__bottom-wrap-top {
    margin-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-product {
    -webkit-box-flex: 0.6;
        -ms-flex: 0.6;
            flex: 0.6;
  }
  .LocationsDetails__bottom-wrap-top-product-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    color: #AFAFAF;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-product-name {
    font-family: "avenir-bold";
    margin-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-lastOrdered-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    color: #AFAFAF;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-lastOrdered-date {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-location-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    color: #AFAFAF;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-location-cityCountry {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-quantity-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    color: #AFAFAF;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-quantity-number {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-status-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    color: #AFAFAF;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-status-inOut {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__dotsWrap {
    padding-top: 3rem;
  }
}

@media only screen and (min-width: 1440px) {
  .LocationsDetails {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
  }
  .LocationsDetails__warehouse {
    padding: 0rem 10rem;
    width: 100%;
    padding-top: 1rem;
  }
  .LocationsDetails__warehouse-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1rem;
    border-bottom: 2px solid #E1E1E1;
  }
  .LocationsDetails__warehouse-header-arrowWrap {
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  .LocationsDetails__warehouse-header-arrowWrap-img {
    position: relative;
    top: 0.4rem;
    height: 1rem;
  }
  .LocationsDetails__warehouse-header-title {
    font-family: "avenir-bold";
    font-size: 1.5rem;
    line-height: 2rem;
    color: #323232;
  }
  .LocationsDetails__warehouse-addressContactWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2% 0%;
  }
  .LocationsDetails__warehouse-addressContactWrap-address-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    color: #AFAFAF;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__warehouse-addressContactWrap-address-line1 {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
  }
  .LocationsDetails__warehouse-addressContactWrap-address-line2 {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    font-style: italic;
  }
  .LocationsDetails__warehouse-addressContactWrap-address-line3 {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    font-style: italic;
  }
  .LocationsDetails__warehouse-addressContactWrap-address-line4 {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    padding-bottom: 0.5rem;
    font-style: italic;
  }
  .LocationsDetails__warehouse-addressContactWrap-contact-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    color: #AFAFAF;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__warehouse-addressContactWrap-contact-line4 {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0rem 10rem;
    background-color: #FAFAFA;
    border-bottom: 2px solid #E1E1E1;
  }
  .LocationsDetails__bottom-wrap {
    width: 100%;
    background-color: #FAFAFA;
  }
  .LocationsDetails__bottom-wrap-top {
    margin-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-product {
    -webkit-box-flex: 0.6;
        -ms-flex: 0.6;
            flex: 0.6;
  }
  .LocationsDetails__bottom-wrap-top-product-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    color: #AFAFAF;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-product-name {
    font-family: "avenir-bold";
    margin-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-lastOrdered-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    color: #AFAFAF;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-lastOrdered-date {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-location-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    color: #AFAFAF;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-location-cityCountry {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-quantity-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    color: #AFAFAF;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-quantity-number {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-status-title {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    color: #AFAFAF;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom-wrap-top-status-inOut {
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #323232;
    padding-bottom: 0.5rem;
  }
  .LocationsDetails__bottom__dotsWrap {
    padding-top: 3rem;
  }
}

/*MOBILE*/
label {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  color: #AFAFAF;
  font-weight: bold;
}

.new {
  min-width: 15.75rem;
  background-color: #FFFFFF;
  padding: 2rem 1rem 0;
}

.new__title {
  font-family: "avenir-bold";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #323232;
  padding-bottom: 2rem;
}

.new__form-input {
  width: 100%;
  height: 3rem;
  background-color: #FAFAFA;
  border-radius: 0.25rem;
  border: 1.5px solid #E1E1E1;
  padding: 0.625rem;
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  resize: none;
}

.new__form-description {
  width: 100%;
  height: 80px;
  background-color: #FAFAFA;
  border-radius: 0.25rem;
  border: 1.5px solid #E1E1E1;
  padding: 0.625rem;
  padding-bottom: 3rem;
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  margin-bottom: 2rem;
  resize: none;
}

.new__form-input:focus, .new__form-description:focus {
  border: 1.5px solid #004892;
  outline-width: 0;
}

.new__form-switch-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new__form-switch-stock {
  color: #323232;
}

.button__save, .button__cancel {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #323232;
  height: 48px;
  width: 100%;
  background-color: #004892;
  color: #FFFFFF;
  border: none;
  border-radius: 0.25rem;
}

.button__cancel {
  background-color: #FFFFFF;
  color: #004892;
}

.button__save:focus, .button__cancel:focus {
  outline-width: 0;
}

/*TABLET/DESK VIEW */
@media only screen and (min-width: 768px) {
  .new {
    max-width: 36rem;
    height: 39rem;
    padding: 3.5rem 3rem 2.5rem;
  }
  .new__title {
    font-family: "avenir-bold";
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #323232;
    padding-bottom: 3rem;
  }
  .new__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .new__form-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .new__form-input {
    width: 13.75rem;
  }
  .new__form-description {
    width: 30rem;
  }
  .button__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-left: auto;
  }
  .button__save {
    width: 10rem;
  }
  .button__cancel {
    width: 3.75rem;
    margin-right: 3rem;
  }
  .margin {
    margin-left: 2.5rem;
    width: 220px;
  }
}

.product {
  margin: 40px 16px 24px 16px;
}

.product__container {
  width: 100%;
  margin: auto;
}

.product__label-page {
  font-family: "avenir-bold";
  margin-bottom: 24px;
}

.product__instock-notifier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 30px;
  background-color: limegreen;
  border-radius: 5px;
}

.product__instock-notifier-text {
  color: #FFFFFF;
  font-family: "avenir-demi";
}

.product__hr {
  visibility: hidden;
}

.product__label-description, .product__label-ordered-by, .product__label-ref-num, .product__label-last-ordered, .product__label-location, .product__label-quantity, .product__label-categories {
  font-family: "avenir-demi";
  color: #AFAFAF;
  margin-top: 24px;
  margin-bottom: 16px;
}

.product__item-description, .product__categories {
  width: 90%;
}

.product__categories {
  margin-bottom: 40px;
}

.product__edit-btn {
  width: 100%;
  height: 70px;
  border-radius: 5px;
  border: 1px solid #002F5F;
  background-color: #002F5F;
  color: #FFFFFF;
  font-family: "avenir-demi";
}

@media only screen and (min-width: 768px) {
  .product__container {
    width: 720px;
  }
  .product__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product__label-page {
    margin-right: 24px;
  }
  .product__hr {
    visibility: visible;
  }
  .product__btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .product__edit-btn {
    margin-top: 40px;
    width: 288px;
  }
  .product__info-details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 360px 360px;
        grid-template-columns: 360px 360px;
  }
  .product__label-value-container {
    margin-right: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .product__container {
    width: 1080px;
  }
  .product__description-details-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}
/*# sourceMappingURL=main.css.map */