* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: unset;
  font-family: "avenir-regular";
  text-decoration: none;
}

@import "./partials/breakpoints";
@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/mixins";
@import "./partials/inventory";
@import "./partials/header";
@import "./partials/locations";
@import "./partials/locationsDetails";
@import "./partials/modal";
@import "./partials/product";
